.recently-played-table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 1em;
  text-align: left;
  color: white;
}

.recently-played-table th,
.recently-played-table td {
  padding: 12px 15px;
  border: 1px solid #444;
}

.recently-played-table th {
  background-color: #333;
}

.recently-played-table tr.even {
  background-color: #222;
}

.recently-played-table tr.odd {
  background-color: #111;
}

.help-icon {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  position: relative;
}

.help-icon:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}

.help-icon:hover::before {
  content: '';
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
